@media (max-width:414px) {body {background-color: bisque;}}

@media(max-width:414px) { 
   .sectionss {width:300px; height:280px;}
}
@media(max-width:414px) { 
   .header {font-size:18px;}
}
@media (max-width:414px) { .text {
   font-size:15px;}
}
@media (max-width:414px) { .button {
   width: 130px;
   height: 48px;
   background-color: #707070;
   border-radius: 2px; 
   color: #fff;
   font-size:13px;
   font-family: 'Montserrat', sans-serif;
   text-align:center;
   padding: 8px 12px 8px 12px;}
}


@media(max-width:414px) { 
   .line1 {width:414px; height: 1900px; 
      flex-direction: column; align-items: center;}
}

@media(max-width:414px) { 
   .box {width:314px;  margin-top: 62px;}
}

@media(max-width:414px) { 
   .first-text { font-size:15px; font-weight: bold;}
}
@media(max-width:414px) { 
   .text-image{ font-size:13px; margin-top:5px; }
}


@media(max-width:414px) { 
   .container2 {width:414px;}



   /* 2 */
}
@media(max-width:414px) { 
   .container3 {width:414px;}
}
@media(max-width:414px) { 
   .boldtext {  margin-top: 330px;
      font-size: 20px;}
}


@media(max-width:414px) { 
   .line2 {width:414px;  height:1269px; flex-direction: column; align-items:flex-start; 
   }
}

@media(max-width:414px) { 
   .box2 {width:220px; height: 230px;  margin-left:15px; margin-top:490px; }
}
@media(max-width:414px) { 
   .box3 {display:none;}
}


@media(max-width:414px) { 
   .line {width:414px; height: 400px; flex-direction: column; align-items:flex-start}
}

@media(max-width:414px) { 
   .right-box {margin-top:40px; margin-bottom:40px; margin-left:20px;
   width: 350px; }
}
@media (max-width:414px) { .bold  {
   font-size:18px;}
}

@media (max-width:414px) { .tex  {
   font-size:14px; line-height: 22px;}
}

@media (max-width:414px) { .left-box  {
   margin: 50px 102px;}
}

@media (max-width:414px) { .button2 {
       width: 173px;
       height: 36px;
       background-color:#FFBF9D;
       border-radius: 4px; 
       color:#FFF;
       font-size:14px;
       font-family: 'Montserrat', sans-serif;
       text-align:center;
       padding: 9px 24px 9px 24px; 
	     cursor: pointer;}
}

@media (max-width:414px) { .fifthline  {  height: 800px; flex-direction: column; align-items: center;
   }
}

@media (max-width:414px) { .leftbox { width:300px;
   height:421px; margin-left:20px; margin-top:90px;
}
}

@media (max-width:414px) { .button3 {
   width: 173px;
      height: 36px;
      background-color:#595C69;
      border-radius: 4px; 
      color:#FFF;
      font-size:14px;
      font-family: 'Montserrat Alternates', sans-serif;
      text-align:center;
      padding: 10px 10px ;
         cursor: pointer;}
}
@media (max-width:414px) { .footerlogo, .navigation { display: none;
}
}

/* header */

@media (max-width:414px) { .burger-icon {display: block;}}
@media (max-width:414px) { .container  { width:350px; 
   height:50px; }
}

@media (max-width:414px) { .logo {font-size:28px;}
}



/* tips */

